---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import ImageGallery from '~/components/widgets/ImageGallery.astro';
---

<WidgetWrapper containerClass="pt-0 md:pt-0 lg:pt-0">
  <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl text-center">
    Singing the Anthem for Louisville Bats
  </h2>

  <div class="mt-8 mx-auto max-w-3xl w-full">
    <div class="relative w-full aspect-video overflow-hidden">
      <iframe
        src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F2233065250774492%2F&show_text=false&width=560&t=0"
        class="absolute inset-0 h-full w-full"
        style="border:none;overflow:hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </div>

  <p class="mt-8 max-w-2xl mx-auto text-center text-lg text-muted dark:text-slate-400">
    The ensemble section of our Joyous Singers, had the opportunity to sing the National Anthem at the start of the AAA
    Bats baseball game Wednesday evening June 10th at the Slugger Stadium in Louisville. And we sounded amazing!
    Considering the heat, the crowd noise and that we were short on tenors and sopranos, we pulled it off to good
    reviews. What a great time.
  </p>

  <ImageGallery />
</WidgetWrapper>
