---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Contact',
};
---

<!-- subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you." -->
<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <!-- Features3 Widget ************** -->

  <Features4
    id="features"
    title="Contact"
    subtitle="Whether you're a lifelong singer or just discovering the joy of music, you're warmly invited to join our vibrant choir community. Our rehearsals are relaxed, uplifting, and designed to suit all experience levels — no auditions, no pressure, just the shared joy of singing. We explore a rich variety of music across seasons, culminating in performances that inspire and uplift both singers and audiences alike."
    tagline=""
    columns={2}
  />

  <!-- Content Widget **************** -->
  <Content
    isReversed
    items={[
      {
        title: 'Director',
        description:
          'Our Music Director, Mary Muse, has a strong 30-year history as a Middle School and High School music teacher in the Metro- Louisville area. She has a successful background of teaching students the appreciation  and history of music as well as developing age- appropriate chorale program and concerts for the students’ enrichment.<br><br> Mary also served as a Minister of Music at Woodland Baptist Church and as Choir Director at Southeast Christian Church.<br><br>Since retiring she continues to work with the people of the Kentuckiana area to enrich our citizens with the beauty and  appreciation of well performed chorale music.  She currently directs our Joyous Singers chorale to assure the continuation of our long tradition of bringing a wide variety of chorale music and  joy to the Kentuckiana community.',
        // icon: 'tabler:wand',
      },
    ]}
    image={{ src: '~/assets/images/Mary-Muse.jpg', alt: 'Joyous Singers in Concert' }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Mary Muse</h3>
    </Fragment>
  </Content>

  <HeroText tagline="Contact" title="Join Us!" />

  <Steps2
    title="Ways to get in touch"
    id="contact-us"
    subtitle="Have questions? Feel free to contact us!"
    items={[
      {
        title: 'Email us',
        description: 'joyoussingersinc@gmail.com ',
        icon: 'tabler:mail',
        link: 'mailto:joyoussingersinc@gmail.com ',
      },
      {
        title: 'Call us',
        description: '(502) 830-9709',
        icon: 'tabler:headset',
        link: 'tel:5028309709',
      },
      {
        title: 'Follow us on Facebook',
        description: 'JoyousSingers',
        icon: 'tabler:brand-facebook',
        link: 'https://www.facebook.com/JoyousSingers/',
      },
    ]}
  />

  <!-- title="Reach out to us"
  id="contact-us"
  subtitle="Have questions? Feel free to contact us!" -->

  <ContactUs
    id="form"
    title="Contact our director, Mary Muse"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    description=""
  />
</Layout>
