---
// import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Welcome To" image={{ src: '~/assets/images/joyoussingers.webp', alt: 'Joyous Singers' }}>
    <Fragment slot="title">
      Joyous
      <span class="text-accent dark:text-white highlight"> Singers</span>
    </Fragment>

    <Fragment slot="subtitle">
      <!-- The Joyous Singers is a community-based chorus based in the Louisville-Kentuckiana area. We sing a variety of
      musical styles; sacred, Broadway, popular, gospel, etc. -->
      Led by our inspiring music director, Mary Muse, with accompaniment by Gloria Nimocks, Joyous Singers is a community
      chorus dedicated to bringing the people of our Kentuckiana community beautiful, uplifting, and entertaining choral
      music. We specialize in providing concerts for underserved populations, especially those in senior living and health
      communities. Our daytime performances and rehearsals make it possible for community singers who prefer daytime activities
      to participate.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title=""
    id="about"
    stats={[
      { title: 'Concerts since 2000', amount: '200' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    title="Celebrating our 25th Anniversary"
    subtitle="We are happy to announce that this is the Joyous Singers  25th year of bringing secular, pop and religious choral music performances to our Kentuckiana community. Since the year 2000 we have provided over 200 concerts to assisted living facilities, churches and other venues in our Louisville and Southern Indiana area."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Rehearsals',
        description: 'Lyndon Baptist Church, 8025 New LaGrange Road',
        icon: 'tabler:template',
      },
      {
        title: 'Interior Design',
        description:
          'Vivamus porttitor, tortor convallis aliquam pretium, turpis enim consectetur elit, vitae egestas purus erat ac nunc nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Photography',
        description:
          'Duis sed lectus in nisl vehicula porttitor eget quis odio. Aliquam erat volutpat. Nulla eleifend nulla id sem fermentum.',
        icon: 'tabler:template',
      },
    ]}
  /> -->

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Rehearsals',
        description: 'Lyndon Baptist Church, 8025 New La Grange Rd, Louisville, KY, Thursdays, 9:30AM',
        icon: 'tabler:template',
      },
      {
        title: 'Recruiting New Singers',
        description:
          'Whether Soprano, Alto, Tenor or Bass, we welcome all new singers, regardless of your chorale experience.',
        icon: 'tabler:template',
      },
      {
        title: 'First Rehearsal for 2025 season',
        description: 'Thursday, January 9th at 9:30 AM',
        icon: 'tabler:template',
      },
    ]}
    image={{ src: '~/assets/images/joyous-landscape.webp', alt: 'Joyous Singers in Concert' }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    id="contact-us"
    subtitle="Have questions? Feel free to contact us!"
    callToAction={{
      text: 'Contact us',
      href: 'mailto:mary.muse123@gmail.com',
    }}
    ,
    items={[
      {
        title: 'Email us',
        description: 'mailto:mary.muse123@gmail.com',
        icon: 'tabler:mail',
        link: 'mailto:mary.muse123@gmail.com',
      },
      {
        title: 'Call us',
        description: '(502) 807-5997',
        icon: 'tabler:headset',
        link: 'tel:5028075997',
      },
      {
        title: 'Follow us on Facebook',
        description: 'JoyousSingers',
        icon: 'tabler:brand-facebook',
        link: 'https://www.facebook.com/JoyousSingers/',
      },
    ]}
  />
</Layout>

<form name="contact" netlify>
  <p>
    <label>Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email <input type="email" name="email" /></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

<form class="max-w-md mx-auto">
  <!-- Name -->
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="text"
      name="name"
      id="name"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      required
    />
    <label
      for="name"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Name</label
    >
  </div>

  <!-- Email -->
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="email"
      name="email"
      id="email"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      required
    />
    <label
      for="email"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Email Address</label
    >
  </div>

  <!-- Subject -->
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="text"
      name="subject"
      id="subject"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      required
    />
    <label
      for="subject"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Subject</label
    >
  </div>

  <!-- Message -->
  <div class="relative z-0 w-full mb-5 group">
    <textarea
      name="message"
      id="message"
      rows="4"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer resize-none"
      placeholder=" "
      required></textarea>
    <label
      for="message"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Message</label
    >
  </div>

  <!-- Submit Button -->
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
