---
// import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Welcome To" image={{ src: '~/assets/images/2019-JS-Christmas.jpeg', alt: 'Joyous Singers' }}>
    <Fragment slot="title">
      Joyous
      <span class="text-accent dark:text-white highlight"> Singers</span>
    </Fragment>

    <Fragment slot="subtitle">
      <!-- The Joyous Singers is a community-based chorus based in the Louisville-Kentuckiana area. We sing a variety of
      musical styles; sacred, Broadway, popular, gospel, etc. -->
      Led by our inspiring music director, Mary Muse, with accompaniment by Gloria Nimocks, Joyous Singers is a community
      chorus dedicated to bringing the people of our Kentuckiana community beautiful, uplifting, and entertaining choral
      music. We specialize in providing concerts for underserved populations, especially those in senior living and health
      communities. Our daytime performances and rehearsals make it possible for community singers who prefer daytime activities
      to participate.
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Rehearsals',
        description: 'Lyndon Baptist Church, 8025 New La Grange Rd, Louisville, KY, Thursdays, 9:30AM',
        icon: 'tabler:template',
      },
      {
        title: 'Recruiting New Singers',
        description:
          'Whether Soprano, Alto, Tenor or Bass, we welcome all new singers, regardless of your chorale experience.',
        icon: 'tabler:template',
      },
      {
        title: 'First Rehearsal for 2025 season',
        description: 'Thursday, January 9th at 9:30 AM',
        icon: 'tabler:template',
      },
    ]}
    image={{ src: '~/assets/images/red-tones.jpg', alt: 'Joyous Singers in Concert' }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    id="contact-us"
    subtitle="Have questions? Feel free to contact us!"
    callToAction={{
      text: 'Contact us',
      href: '/contact',
    }}
    items={[
      // {
      //   title: 'Email us',
      //   description: 'mailto:mary.muse123@gmail.com',
      //   icon: 'tabler:mail',
      //   link: 'mailto:mary.muse123@gmail.com',
      // },
      // {
      //   title: 'Call us',
      //   description: '(502) 807-5997',
      //   icon: 'tabler:headset',
      //   link: 'tel:5028075997',
      // },
      {
        title: 'Follow us on Facebook',
        description: 'JoyousSingers',
        icon: 'tabler:brand-facebook',
        link: 'https://www.facebook.com/JoyousSingers/',
      },
    ]}
  />
</Layout>
