---
// import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Welcome To"
    actions={[
      {
        variant: 'primary',
        text: 'Donate',
        href: '/donate',
      },
      { text: 'Join Us', href: '#recruiting' },
    ]}
    image={{ src: '~/assets/images/2019-JS-Christmas.jpeg', alt: 'Joyous Singers' }}
  >
    <Fragment slot="title">
      Joyous
      <span class="text-accent dark:text-white highlight"> Singers</span>
    </Fragment>

    <Fragment slot="subheading"
      >A Kentuckiana Chorale for Senior Citizens <br /><span class="italic text-accent">Celebrating 25 Years</span
      ></Fragment
    >

    <!-- <Fragment slot="subtitle">
      The Joyous Singers is a community-based chorus based in the Louisville-Kentuckiana area. We sing a variety of
      musical styles; sacred, Broadway, popular, gospel, etc.
    </Fragment> -->

    <!-- 
    <Fragment slot="subtitle">
      <strong>
        NEW SEASON FIRST REHEARSAL AND MEET-UP <br />Thursday, September 4th, 9:30 to 11:30 AM <br />
        Lyndon Baptist Church <br /> 8025 New La Grange Rd, Louisville, KY <br /><br /><br /></strong
      >

      Led by our inspiring music director, Mary Muse, with accompaniment by Gloria Nimocks, Joyous Singers is a
      community chorus dedicated to bringing the people of our Kentuckiana community beautiful, uplifting, and
      entertaining choral music. <br /><br />We specialize in providing concerts for underserved populations, especially
      those in senior living and health communities. Our daytime performances and rehearsals make it possible for
      community singers who prefer daytime activities to participate.
    </Fragment> -->

    <Fragment slot="subtitle">
      <strong>
        We are now Rehearsing for our Holiday Concerts.<br /> Join us today and SING OUT.<br />Thursdays, 9:30 to 11:30
        AM <br />
        Lyndon Baptist Church <br /> 8025 New La Grange Rd, Louisville, KY <br /><br /><br /></strong
      >

      Led by our inspiring music director, Mary Muse, with accompaniment by Gloria Nimocks, Joyous Singers is a
      community chorus dedicated to bringing the people of our Kentuckiana community beautiful, uplifting, and
      entertaining choral music. <br /><br />We specialize in providing concerts for underserved populations, especially
      those in senior living and health communities. Our daytime performances and rehearsals make it possible for
      community singers who prefer daytime activities to participate.
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Rehearsals',
        description: 'Lyndon Baptist Church, 8025 New La Grange Rd, Louisville, KY, Thursdays, 9:30AM',
        icon: 'tabler:template',
      },
      {
        title: 'Recruiting New Singers',
        description:
          'Whether Soprano, Alto, Tenor or Bass, we welcome all new singers, regardless of your chorale experience.',
        icon: 'tabler:template',
      },
      {
        title: 'First Rehearsal for Fall 2025 season',
        description: 'Thursday, September 4th at 9:30 AM',
        icon: 'tabler:template',
      },
    ]}
    image={{ src: '~/assets/images/red-tones.jpg', alt: 'Joyous Singers in Concert' }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    id="contact-us"
    subtitle="Have questions? Feel free to contact us!"
    callToAction={{
      text: 'Contact us',
      href: '/contact',
    }}
    items={[
      // {
      //   title: 'Email us',
      //   description: 'mailto:mary.muse123@gmail.com',
      //   icon: 'tabler:mail',
      //   link: 'mailto:mary.muse123@gmail.com',
      // },
      // {
      //   title: 'Call us',
      //   description: '(502) 807-5997',
      //   icon: 'tabler:headset',
      //   link: 'tel:5028075997',
      // },
      {
        title: 'Follow us on Facebook',
        description: 'JoyousSingers',
        icon: 'tabler:brand-facebook',
        link: 'https://www.facebook.com/JoyousSingers/',
      },
    ]}
  />

  <Hero2
    id="recruiting"
    tagline="Sing Out"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Contact the Director', href: 'contact#form' },
      // { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/Choral-Forum-05-9-24.jpg',
      alt: 'Joyous Singers in Concert',
    }}
  >
    <!-- <Fragment slot="title">
      Simplify web design with Astrowind: <br /> your ultimate <span class="text-accent dark:text-white">SaaS</span> companion<br
      />
    </Fragment> -->
    <Fragment slot="title">
      <span class="text-4xl md:text-5xl"> Recruiting New Singers </span>
    </Fragment>
    <!-- 
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Elevate your website creation process with <span class="font-semibold">AstroWind</span>'s SaaS solutions.</span
      >
      Seamlessly blend the power of Astro 5.0 and Tailwind CSS to craft websites that resonate with your brand and audience.
    </Fragment> -->

    <Fragment slot="subtitle">
      <span class="font-semibold"
        >The Joyous Singers, a Louisville 55 and over choral group, is searching for new singers as we begin our
        2025-2026 season.</span
      >

      <br /><br />
      Joyous Singers, Inc. is a community chorus for people who love to sing and welcome the challenge of learning and performing
      a wide variety of choral music. Whether Soprano, Alto, Tenor or Bass, we welcome new voices. And we welcome all new
      singers, regardless of your chorale experience.
      <br /><br />
      Founded in 2000, Joyous Singers has performed for many audiences in the Kentuckiana community.
    </Fragment>
  </Hero2>

  <!-- custom, display 3 pics from Gallery and link to Gallery -->

  <div
    class="relative px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade max-w-6xl mx-auto"
  >
    <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
      <div class="md:max-w-sm">
        <h2
          class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
          set:html="Photos"
        />

        <Button variant="link" href="who-we-are#gallery"> View More » </Button>
      </div>

      <!-- {information && <p class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md" set:html={information} />} -->
    </div>

    <!-- actual pics -->

    <div class="grid -mb-6 gap-6 lg:grid-cols-4 md:grid-cols-2 row-gap-5">
      <article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 0ms; animation-delay: 0ms;"
      >
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/get-started-website-with-astro-tailwind-css"> -->
          <img
            alt="Get started with AstroWind to create a website using Astro and Tailwind CSS"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/5-5ChoraleReception2.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/get-started-website-with-astro-tailwind-css"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >Get started with AstroWind to create a website using Astro and Tailwind CSS</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Start your web journey with AstroWind – harness Astro and Tailwind CSS for a stunning site. Explore our guide
          now.
        </p> -->
      </article><article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 100ms; animation-delay: 100ms;"
      >
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/useful-resources-to-create-websites"> -->
          <img
            alt="Useful tools and resources to create a professional website"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/5-18Chorale.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:top;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/useful-resources-to-create-websites"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >Useful tools and resources to create a professional website</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Explore vital tools and resources for a sleek website. From design to functionality, our guide elevates your
          online presence.
        </p> -->
      </article><article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 200ms; animation-delay: 200ms;"
      >
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/how-to-customize-astrowind-to-your-brand"> -->
          <img
            alt="How to customize AstroWind template to suit your branding"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/10-25Chorale Practice.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/how-to-customize-astrowind-to-your-brand"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >How to customize AstroWind template to suit your branding</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          Personalize AstroWind template for your brand. Our guide unlocks seamless customization steps for a unique
          online presence.
        </p> -->
      </article><article
        class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter mb-6 transition"
        data-animated="true"
        style="transition-delay: 300ms; animation-delay: 300ms;"
      >
        <div class="relative bg-gray-400 dark:bg-slate-700 mb-6 md:h-64 rounded shadow-lg">
          <!-- <a href="/astrowind-template-in-depth"> -->
          <img
            alt="AstroWind template in depth"
            class="w-full shadow-lg bg-gray-400 dark:bg-slate-700 md:h-full rounded"
            loading="lazy"
            src="/images/2021-Practice.jpg"
            crossorigin="anonymous"
            decoding="async"
            height="225"
            referrerpolicy="no-referrer"
            sizes="(max-width: 900px) 400px, 900px"
            style="object-fit:cover;object-position:center;max-width:100%;max-height:100%"
            width="400"
          />
          <!-- </a> -->
        </div>
        <!-- <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
          <a
            href="/astrowind-template-in-depth"
            class="transition duration-200 dark:hover:text-blue-700 ease-in hover:text-primary inline-block"
            >AstroWind template in depth</a
          >
        </h3>
        <p class="text-muted dark:text-slate-400 text-lg">
          While easy to get started, Astrowind is quite complex internally. This page provides documentation on some of
          the more intricate parts.
        </p> -->
      </article>
    </div>

    <!-- end actual pics -->
  </div>
</Layout>
